html,body {
	width: 100%;
	height: 100%;
	overflow: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

div.row {
	flex: 1;
	display: flex;
	flex-direction: row;
}

div.row > div.f1 { flex-grow: 1; }
div.row > div.f2 { flex-grow: 2; }
div.row > div.f3 { flex-grow: 3; }
div.row > div.f4 { flex-grow: 4; }
div.row > div.f5 { flex-grow: 5; }
div.row > div.f6 { flex-grow: 6; }
div.row > div.f7 { flex-grow: 7; }
div.row > div.f8 { flex-grow: 8; }
div.row > div.f9 { flex-grow: 9; }
div.row > div.f10 { flex-grow: 10; }
div.row > div.f11 { flex-grow: 11; }
div.row > div.f12 { flex-grow: 12; }

div#vision-image {
	background-image: url(../img/bobross.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

div#console-output {
	font-family: monospace;
	font-size: 8px;
}
